body {
    background-color: rgb(255, 255, 255);
}

p {
    /* Change the text color */
    color: purple;
}

a {
    color: cyan;
    /*Hexadecimal Color Example*/
    background-color: #0daf08;
}

h2 {
    color: orangered;
    background-color: cyan;
    opacity: 0.5;
}

h1 {
    background-color: rgba(212, 0, 255, 0.5);
}

ul {
    color: yellowgreen; /*The <li> elements inside the ul inherit the same yellowgreen color.*/
}

span {
    color: orange;
}

div {
    color: red;
    border: 1px solid blue;
}

p { 
    border: inherit; /*The word inherit in tha value for any property turns on the inheritance for that element*/
}