h1 {
    font-family: 'Segoe UI', Futura, sans-serif;
    font-size: 60px;
    font-weight: normal;
    text-align: center;
    letter-spacing: 20px;
    /* text-shadow: magenta -4px 4px 4px; */
    text-shadow: -4px 4px 4px magenta, -8px 8px 4px cyan; /*Multiple text shadows*/
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* text-align: justify; */
}

p {
    font-size: 40px;
    font-weight: bold; /*font-weight can be set in numeric values as well. Normal=400 & Bold=700*/
    word-spacing: 20px;
    line-height: 2;
}

a {
    font-size: 20px; /*makes the links smaller. They no longer inherit the size of paragraph element*/
    font-style: italic;
}